# Ignore node_modules and build directories
node_modules/
dist/
dist-ssr/
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore build output
back/bin/
back/obj/

# Ignore user-specific files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore local configuration files
appsettings.Development.json

# Ignore Visual Studio specific files
.vs/
*.user

# Ignore ESLint cache
front/.eslintcache

# Ignore static web assets
back/obj/Debug/net8.0/staticwebassets/