body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3eae8;
  color: #281207;
}

button {
  background-color: #e7c63e;
  transition: border-color 0.4s;
}

button:hover {
  border-radius: 5px;
  border: 1px solid #281207;
  background-color: #f1e871;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.showItems {
  padding-top: 90vh;
  padding-bottom: 20vh;
}